[2015-11-21 04:34] greatfireball opened #19 "Comparing trees inside AliTV::Tree test sets"

[2016-03-18 17:17] greatfireball opened #25 "Easy workflow"
The easiest workflow should allow the following statement to generate AliTV JSON files:

`# download a number of fasta and/or genebank files`
`./alitv.pl *`

This should create a set of AliTV JSON input files and a yml file, for later modification and replay.

[2016-03-18 17:18] greatfireball commented on #25
The yml file need to be created first, afterwards the normal JSON generation can be executed.

[2016-06-09 20:50] greatfireball opened #30 "AliTV::Alignment needs to be tested with non-flush alignments"
To avoid an uncoverable statement, I need to provide an alignment having different length of sequences.

Maybe that we be solved never

[2016-06-11 09:22] greatfireball opened #33 "Support multiple alignments"
Now, only pairwise alignments are supported.
Due to MAF supports multiple alignments, alitv.pl should also do...

Nevertheless, multiple alignments have been splitted into pairwise, due to the fundamental design of AliTV

[2016-06-11 09:23] greatfireball opened #34 "Support gb and gff input"
Currently only tabular feature anntotation is supported.

It needs to be possible to use gb or gff files directly.

[2016-06-11 09:26] greatfireball opened #35 "Allow filter criteria for feature selection"
Features need to be filtered out a huge file to avoid huge amounts of manual work. Filters are defined inside the yml file and are applied while importing. Therefore different feature classes can be imported from a single gff/gb/tabular file.

[2016-06-11 12:39] greatfireball opened #36 "The given tree needs to be checked against the genome"
Tree and Genome information need to cover the same taxa. Therefore, I need to check the tree information against the genome information to identify input data error

[2016-06-12 12:32] greatfireball opened #37 "Caching for alignments"
If the sequence set was not changed and the alignment program parameters are still the same a cached version of the alignments can be used.

[2016-06-17 08:18] greatfireball opened #38 "Genome order according to the given tree"
Currently my brain is blocked... How to obtain the best genome order for a given tree?

Any ideas?

[2016-06-17 08:19] greatfireball opened #39 "Dynamic conf values"
The values for ticks in the conf section are still static

The should be dynamically calculated.

[2016-06-17 08:20] greatfireball opened #40 "Status messages should be printed"

[2016-06-17 08:21] greatfireball opened #41 "Main script needs documentation"

[2016-06-17 13:38] iimog opened #43 "Move repo to AliTVTeam organization"
Name can be AliTV-perl or AliTV-script or AliTV-generate or AliTV-prepare.

[2016-06-17 23:15] iimog commented on #38
For rooted trees it might be a good idea to ladderize it.
From http://treegraph.bioinfweb.info/Help/wiki/Ladderizing

[2016-06-19 19:47] greatfireball opened #46 "Missing YAML in dependencies"
During an installation in a basic Docker container, I found that `YAML` module should be added to the list of dependencies in `Makefile.PL`.

[2016-06-19 19:50] greatfireball commented on #43
Ups... Sry... I kept `AliTV-perl-interface`... Hope that is okay.. Otherwise I will change the name.

[2016-06-19 19:54] greatfireball opened #47 "Tests should be skipped if required modules are not installed/Cleaning dependencies"
I am using some test modules like `Test::Exception` or `Test::Warn`. Those tests should be skipped it the modules are not installed and the modules should be removed from dependency list.

[2016-06-19 20:03] greatfireball opened #48 "Tests with external dependencies should be skipped if external programs are missing"
Currently the only supported alignment program is `lastz`. In case of missing `lastz` the corresponding tests should be skipped instead of failing the test

[2016-06-20 11:26] iimog commented on #43
It's alright now its AliTV-perl-interface. Let's stick with that.

[2016-06-20 11:26] #43 closed

[2016-06-20 14:48] iimog opened #49 "Error when fasta id contains pipe symbol"
When one of the fasta files contains a pipe symbol `|` in the id as in `>scaffold1|size16646` the following error occurs:

[code]

There is no json output in this case.
When replacing the pipe symbol with an underscore it runs without an error.

[2016-06-20 15:16] greatfireball commented on #49
Are you willing to add your fasta-file for testing?

[2016-06-20 21:06] #25 closed

[2016-06-21 00:59] greatfireball opened #50 "Error with huge sequence sets"
[code]

[code]

[2016-06-21 02:29] greatfireball opened #51 "Import of existing alignments"
Precomputed alignments need to be importable.

[2016-06-22 13:44] iimog opened #52 "Links on reverse strand have wrong coordinates"
It seems like links that are twisted have the wrong coordinates as if start and stop coordinates of those hits are relative to the reverse strand (so 0 coordinate at the end).
Links on the forward strand seem to be ok.

Look at the following image for clarification:
![alitv](https://cloud.githubusercontent.com/assets/7403236/16268686/996b80ac-388f-11e6-86c4-3cb262bd1f35.png)
Look at the links from

[2016-06-27 01:12] greatfireball commented on #52
Hey @iimog

thanks for opening that bug report... It is under investigation.

[2016-06-27 01:15] greatfireball commented on #52
Created simulated set of sequences to identify the source of the bug.

The simulator is available here (https://gist.github.com/greatfireball/171807f737c5a42ac62ff50ce09be159)

[2016-06-27 01:20] greatfireball commented on #52
To reproduce the error I used the attached file set. Which was generated with the `simulate.pl` script:

[code]

[simulate.pl-result-srand-628723252.fasta.zip](https://github.com/AliTVTeam/AliTV-perl-interface/files/333944/simulate.pl-result-srand-628723252.fasta.zip)

[2016-06-27 01:37] greatfireball commented on #52
After splitting of the input file into three fasta files, I ran `alitv.pl *.fasta` and produced the following image.
![wrong_alitv_visualization](https://cloud.githubusercontent.com/assets/7020976/16366453/eabf0556-3c17-11e6-8a7b-d2478eaf9df6.png)

Due to, the middle sequence is reverse complement to the other sequences, a twist of the link is expected. Nevertheless, only a single link between the

[2016-06-27 01:47] greatfireball commented on #52
The error is caused by Bioperl itself. It seems that Bioperl handles the reverse complement positions in MAF files wrong. This is in agreement to an issue bioperl/bioperl-live#147 reported on May, 3rd 2016.

This causes the creation of to links on each sequence, due to the existence of a link is based on its coordinates.

[2016-06-28 10:37] greatfireball opened #63 "Add missing tests"
I need to add missing test files/cases for the following items:

**AliTV.pm**
- [ ] subroutine `AliTV:: run`
- [ ] subroutine `AliTV::get_json`
- [ ] subroutine `AliTV::_import_links`

**Genome.pm**
- [ ] subroutine `AliTV::Genome::get_features`
- [ ] subroutine `AliTV::Genome::get_chromosomes`

[2016-06-29 01:01] #46 closed

[2016-07-07 11:44] greatfireball commented on #63
Added `_store_feature`

[2016-08-01 13:18] greatfireball commented on #49
This issue should be solved since #70

[2016-08-01 13:19] greatfireball commented on #49
@iimog May you check your files again and close that issue, if the bug is resolved?

[2016-08-01 13:47] iimog commented on #49
When testing with the three provided fasta files I get a lot of warnings and a visualization that does not seem right. See the attached files.

[drosera_rotundifolia.fa.txt](https://github.com/AliTVTeam/AliTV-perl-interface/files/393913/drosera_rotundifolia.fa.txt)
[json.txt](https://github.com/AliTVTeam/AliTV-perl-interface/files/393917/json.txt)
[log.txt](https://github.com/AliTVTeam/AliTV-perl-

[2016-08-02 09:31] greatfireball commented on #63
Added
- `AliTV::Genome::_orig_id_to_uniq_id`
- `AliTV::Genome::_uniq_id_to_orig_id`
- `AliTV::Genome::_get_uniq_seq_ids`
- `AliTV::Genome::_get_orig_seq_ids`
- `AliTV::Genome::_get_seq_ids`

[2016-08-02 13:20] greatfireball commented on #63
Finished tests for:
- `AliTV::Genome::_get_uniq_seq_ids`
- `AliTV::Genome::_get_orig_seq_ids`
- `AliTV::Genome::_get_seq_ids`

[2016-08-02 16:20] greatfireball commented on #63
Finished tests for
- `AliTV::Genome::_orig_id_to_uniq_id`
- `AliTV::Genome::_uniq_id_to_orig_id`

[2016-08-02 16:48] greatfireball opened #75 "Mapping file should be generated"
After generation of unique sequence names, the original names of the contigs are still available inside the JSON file. Nevertheless, [AliTV v0.4.0](AliTVTeam/AliTV@b870c1863b9ea4b56198b0ce92629824a49f6a1f) does not seem to display this information. Even for the offset, the unique names (`seq1..seqX`) are indicated. This is hard to navigate. A possible solution is the creation of a mapping file con

[2016-08-03 10:50] greatfireball commented on #50
I have written a small simulation script to simulate a sequence set (please see the attached file).

It generates a set of 100 sequences named seq1 to seq100 each with length of 500 nucleotides.

[generate_100_random_sequences.pl.txt](https://github.com/AliTVTeam/AliTV-perl-interface/files/399258/generate_100_random_sequences.pl.txt)

[2016-08-03 10:54] greatfireball commented on #50
Generation of to example files using the following code:
`for i in 17871 21764; do perl ./generate_100_random_sequences.pl.txt "$i" >"$i".fa`

An running the set with `alitv.pl` produced no error after more then 1/3 of the alignments
`INFO - Finished 7596. alignment (12504 to go; 37.79 % done)`

[2016-08-03 12:20] greatfireball commented on #50
Okay... Ran without errors and produced a `JSON` file. Nevertheless, it is incredibly slow!!!

[output.json.txt](https://github.com/AliTVTeam/AliTV-perl-interface/files/399418/output.json.txt)

[2016-08-03 12:21] greatfireball commented on #50
Need to be checked by @iimog and Sonja

[2016-08-03 16:20] greatfireball commented on #75
Ensure a clear message, that input files are renamed and put it into the documentation!

[2016-08-08 16:43] greatfireball opened #83 "Long sequences need to be excluded from JSON file"
If long sequences are imported, they will blow up the memory required by the script and will also blow up the JSON file created.

Therefore, starting at a total sequence length of 1 Mbp the sequence information should be excluded from writing to JSON.

[2016-08-09 13:40] #75 closed

[2016-08-11 11:29] sonjahohlfeld opened #88 "Wrong tree after generating JSON using AliTV.pl"
After generating a new JSON file using the following commands
`cd AliTV-perl-interface`
`perl -Ilib bin/alitv.pl data/chloroset/*.fasta > simple.json`
`perl -Ilib bin/alitv.pl data/chloroset/input.yml > simple.json`

![wrongtree](https://cloud.githubusercontent.com/assets/11174579/17587209/1502e030-5fc7-11e6-80ea-0893b64c8dfc.png)

the tree is wrong

[2016-08-11 11:30] sonjahohlfeld opened #89 "Form of invertedRepeats should be determined to arrow instead of rect by default"
The default config determines a rect for the form of inverted repeats. You can change the form to an arrow via the user interface. But it would be easier if the default conf determines always an arrow form to inverted repeats.

![invertedrepeat](https://cloud.githubusercontent.com/assets/11174579/17587088/39c1ece6-5fc6-11e6-961a-b4bb1473a83b.png)

[2016-08-11 15:40] greatfireball opened #90 "yml as input plus project name"
Does not seem to work...

[code]

`json/log/map` files have the name `autogen_XXXXX.*`

But if proving a project name I am receiving a warning message:

[code]

But `json/log/map` are now named as expected `input.*`

[2016-08-16 16:22] #19 closed

[2016-08-16 16:22] #38 closed

[2016-08-16 16:22] #88 closed

[2016-08-16 20:07] #89 closed

[2016-08-17 13:25] #83 closed

[2016-08-17 16:37] #39 closed

[2016-08-22 11:47] iimog commented on #51
Support of MAF files is very important as indicated by user requests.

[2016-08-24 05:26] mjfi2sb3 commented on #51
Yes, I look forward to receiving this update! Keep up the good work

[2016-08-24 08:19] iimog opened #101 "Poor performance on larger data sets"
I started alitv.pl on the 6 reference _E. coli_ genomes at NCBI. They are ~5 Mbp in size each.
As expected all lastz alignments (with default parameters) took about 1 h in total.
However after this step was finished for each of the alignments (105 in total) the following line was printed:

[code]

It took over 10 h to finish this MAF workaround for all 105 alignments.
Then the following message wa

[2016-08-24 09:04] iimog commented on #101
Finished :smiley:
Result looks good in Chrome although performance is at it's limit there as well. For first loading I had to wait nearly a minute and reactions are slow. Filtering out small links (out of the json) might improve performance drastically.
![ecoli](https://cloud.githubusercontent.com/assets/7403236/17924887/dd301726-69ea-11e6-95ac-0692e8d090f8.png)

[2016-08-24 10:20] iimog commented on #101
[code]

This oneliner filtered out all the links with lenght less than 2kbp. This way size of the json was reduced from 46MB to 1.6MB and initial loading time from nearly 1min to 2s. The image of the alignment was nearly unchanged (a little less noise).

[2016-08-24 12:28] iimog opened #102 "Browser performance bad with lots of very small links"
If there are a lot of very small links the browser performance gets bad (loading times of up to a minute, or hanging). See #101
Performance is drastically improved if this small links are filtered out - which is not difficult to do in perl.
There are two possible solutions here:
1. Add options to the yml for link filtering by length (and identity)
2. Automatically guess good cutoffs for link lengt

[2016-08-24 12:34] iimog opened #103 "Ticks are not drawn correctly"
Ticks are not drawn correctly as the json file contains tickDistance as a string rather than an integer.

[2016-08-24 12:40] iimog opened #104 "Estimated tick distance not suitable"
The tick distance is estimated by the median sequence length (implemented to solve #39). However this method is not suitable for datasets with some large sequences and lots of small ones. E.g. bacterial genomes with plasmids or genome assemblies. The estimated tick distance tends to be too small and lots of ticks with very short distance clatter the image and negatively impact performance.
There w

[2016-08-24 23:09] #103 closed

[2016-09-07 03:23] cjfields commented on #52
@greatfireball the BioPerl issue with MAF data has been fixed using the patch from @dandeman.

[2016-09-14 03:44] greatfireball commented on #52
Thx4information @cjfields

This will require bioperl 1.7 or above. There was an integreation in 1.6 tree, but no extra version number, so the workaround is required for bioperl version up to 1.006925

I need to adjust the check if the workaround is required accordingly.

[2016-09-14 15:18] cjfields commented on #52
@greatfireball yeah, I pulled that in for the Ensembl folks, who are targeting that branch.

I'm planning on pushing another 1.7 release candidate out today with a full release hopefully by this weekend.

[2016-11-22 15:34] greatfireball opened #109 "Gene features are not displayed correctly"
Gene features are not displayed, but are present in JSON output.

But original sequence names are used instead of new unique sequence identifiers.

[2016-11-22 19:42] #109 closed

[2017-04-13 09:21] iimog opened #117 "Add --help option to filter script"
The filter script is nice and works as intended. However a `--help` option that lists the available filter capabilities and a basic usage example would help a lot.

[2017-04-13 13:55] #117 closed

[2017-04-16 11:19] greatfireball commented on #52
Fixed by commit e3f9c7c15d2844ba62208d071ce3060b77ca3125

[2017-04-16 11:19] #52 closed

[2017-04-16 11:34] greatfireball commented on #49
Retested with version 1.0.0, results seems okay, please recheck @iimog

[code]

![result](https://cloud.githubusercontent.com/assets/7020976/25070855/570fd53c-22a9-11e7-9b7a-5f69925de65e.png)

[2017-04-16 11:36] greatfireball commented on #50
Please recheck @iimog

[2017-04-16 11:49] greatfireball commented on #51
Finally the feature was implemented and tested... Hope it is not to late @mjfi2sb3 It is avaiable since version 1.0.0 (9a2789d6ce18e47f7551cbddec6b7e9f1796ad42)

[2017-04-16 11:50] #51 closed

[2017-04-16 11:56] #104 closed

[2017-04-16 12:05] greatfireball commented on #102
This issue is addressed by the alitv-filter.pl script. It filters and removes filtered elements from a generated JSON file. The filter criteria are obtained from the JSON itself or via command line. The script is available since version 1.0.0 (9a2789d6ce18e47f7551cbddec6b7e9f1796ad42).

[2017-04-16 12:05] #102 closed

[2017-04-20 11:57] #34 closed

[2017-04-20 18:29] greatfireball opened #123 "Remove pullapprove integration"
Due to the new feature by Github, we do not require pullapprove anymore

[2017-04-20 18:30] greatfireball opened #124 "Remove reviewninja integration"
Due to Githubs own review feature, we do not require reviewninja integration.

[2017-04-21 10:41] #41 closed

[2017-04-21 11:13] #123 closed

[2017-04-21 11:13] #124 closed

[2017-04-26 06:54] iimog commented on #49
Fixed

[2017-04-26 06:54] #49 closed

[2017-04-26 06:55] iimog commented on #50
Fixed

[2017-04-26 06:55] #50 closed

[2017-04-26 06:56] iimog commented on #40
This is fixed, isn't it?

[2017-04-26 06:58] iimog commented on #101
The performance issue is fixed. And filtering can now be done properly using ``alitv-filter.pl``

[2017-04-26 06:58] #101 closed

[2017-04-26 07:45] #40 closed

[2017-04-26 07:46] greatfireball commented on #37
Not implemented so far,

It can be achieved by importing existing alignments and later filtering by `alitv-filter.pl`

[2017-06-14 09:37] iimog commented on #90
In `alitv.pl` lines 49ff there is:
[code]
So project is only overwritten with the basename of the `.yml` file if it has been explicitly set. This leads to the strange behaviour that if `--project` is not used together with a `.yml` file the output is named `autogen...` but if you set a project name it is ignored and the name of the `.yml` file is used.

In my opinion the desired behaviour is to al

[2017-06-15 05:45] IdoBar opened #136 "Error in 'Alignment' module with MAFFT alignment"
Hi,

I read your recent publication and I'm really interested in trying out AliTV, but I can't get it to work with my data.
I got 8 viral genomes in FASTA format which were aligned by MAFFT.
I added the following lines to the yaml file:
[code]
And ran it with the following command:
`perl -Ilib ~/etc/tools/Annotation/AliTV-perl-interface-1.0.2/bin/alitv.pl --overwrite --project WSSV WSSV.yml
`
Howe

[2017-06-16 03:47] greatfireball commented on #136
Dear Ido,

thanks for the bug report. I was able to reproduce the error with the MAFFT import of the sequences, but I need to go deeper to solve that puzzle. Nevertheless, I tried to run the lastz mode and it worked for me. I downloaded the virus sequences from NCBI and used the following command to run the script:

`alitv.pl AF332093.3.fasta  AF369029.2.fasta  AF440570.1.fasta  JX515788.1.fasta

[2017-06-16 04:45] IdoBar commented on #136
Thanks Frank,

I'll have a look at that json file.
The lastz mode still isn't working for me ()giving the same error as mentioned above).
I'm using lastz (`version 1.02.00 built 20100112 with gcc-4.8.5`), `alitv.pl` is available in the `PATH`, I'm using Perl v5.27 (tried unsuccessfuly with 5.22 before), with BioPerl-1.007001

Thanks, Ido

[2017-06-16 09:05] greatfireball commented on #136
It seems that something went wrong during installation... The message unable to locate the `AliTV::Alignment::lastz` module is unexpected. Inside your installation folder (`~/etc/tools/Annotation/AliTV-perl-interface-1.0.2/`) should be a folder `lib/AliTV/Alignment/`containing the files `importer.pm`, `lastz.pm`, and `template.pm`. Obviously, the `importer.pm` was found (MAFFT import), therefore `

[2017-06-16 11:53] IdoBar commented on #136
Hi Frank,

All the three modules are there (`importer.pm`, `lastz.pm`, `template.pm`).
I'm using the latest GitHub version.

Thanks, Ido

[2017-06-19 11:34] greatfireball opened #137 "PeerJ-Doi-Image not working"
Concerning the `README.md`. The image is not displayed. Instead the link is shown.

[2017-06-19 12:40] #137 closed

[2017-06-22 08:09] greatfireball commented on #90
Okay, so we have the following scenarios:

1. Project set via `--project` option, no influence by YAML or sequence files
2. No project set, but YAML file as single parameter
3. No Project set, no YAML file provided  and therefore assuming that the user provided a set of sequence files

Output for different scenarios:
1. We are using the provided project name
2. The basename of the YAML file is use

[2017-06-22 08:11] iimog commented on #90
Perfect summary of my expectations :smiley:

[2017-06-26 13:09] wangshun1121 opened #143 "How can I load Seqs who do not begin from first base?"
For example, I want to compare regions from human, mouse and rat, and the length of the regions I am interested in is only about 500kb or so, but none of these region are at the beginning of Chrs. Then how can  I make json from such sequences?

[2017-06-26 13:44] sonjahohlfeld opened #144 "Links are not drawn in"
The following JSON contains a multiple alignment, but links are not drawn. In the function ```filterVisibleLinks``` all links are removed. Because the names of the targetKaryo and accordingly sourceKaryo do not match the keys of the visible Chromosomes.

[WSSV.txt](https://github.com/AliTVTeam/AliTV-perl-interface/files/1102309/WSSV.txt)

[2017-06-27 08:28] greatfireball commented on #136
Hi Ido,
sry for the delay, I am still not sure about the issue with the ` lastz` module, nevertheless, I am working on the  `MAFFT` import now. Import is working, but I still have in issue with name mapping (see issue #144). It will be finished by the end of this week, therefore `AliTV` will support multiple alignments by the end of this week. Hope, that is still okay for you.
Best,
Frank

[2017-06-27 08:30] IdoBar commented on #136
Thanks Frank,

That would actually be best cause I have a particular alignment that I want
to visualize.

Thanks, Ido
On Jun 27, 2017 6:28 PM, "Frank Förster" <notifications@github.com> wrote:

[2017-06-27 08:32] greatfireball commented on #143
Hey @wangshun1121,

Thanks for the question... For a detailed answer, I need to know how do you generate your alignments? Using the default `lastz` program or do you precalculate the alignments?

Best,
Frank

[2017-06-27 08:34] greatfireball commented on #144
@sonjahohlfeld

Thanks for that bug report. It the mapping of `AliTV` somewhere documented?

Best,
Frank

[2017-06-27 08:49] wangshun1121 commented on #143
Well, I can use lastz, but I don't want to align whole chromosome Sequences, I only want to study the short region I am interested in.
For example, I can get the seq of human's Chr01, from 80000000bp to 80500000bp, and align it to rat's Chr02 seq 55000000 to 55500000. Then I want to display the alignments within the short region of 500kb.

[2017-06-27 12:02] sonjafeitsch commented on #144
```targetKaryo``` is the name which is setted in ```data.features.link['Sequence' ].karyo``` . This is the same for ```sourceKaryo```. But in ```visibleChromosomes``` the names of ```karoy.chromosomes``` are stored.

[2017-06-28 08:47] greatfireball commented on #143
Thanks for your answer @wangshun1121
I already got the point, that you do not want to align the whole chromosomes against each other. If you are using `lastz` it seems to be an easy task to implement such a feature. I am testing a little bit and implementing that feature until next week. Hope, that is still okay for you. Nevertheless, offset based alignments are currently not supported by `AliTV`,

[2017-06-28 08:49] wangshun1121 commented on #143
It's very nice of you @greatfireball ! Look forward to the upgrade of AliTV!

[2017-06-28 08:50] greatfireball opened #145 "Remove output section from default YAML file"
The output section inside the default YAML file is neither documented nor used at the moment. Therefore, this section should be removed.

[2017-06-28 09:35] #145 closed

[2017-07-31 11:08] iimog opened #148 "Re-add the `--self` option"
In early versions of AliTV there was a `--self` option that allowed easy comparison of a genome against itself. It took advantage of the `self` option of `lastz`. A user reported to me that this option was useful and convenient. Therefore I suggest re-adding this feature.
What do you think @greatfireball ?

[2017-10-09 12:14] iimog opened #149 "Unable to load alignment module"
From a user (via mail):

[2017-10-24 01:51] mictadlo commented on #149
me too:

[code]
Any updates?

[2017-10-24 07:55] iimog commented on #149
Hi @mictadlo thanks for reporting, that you have this issue as well. The syntax of your command indicates that you are not using the latest version of `AliTV-perl-interface` (the `-Ilib` option is no longer required and the `.json` file will not be given on `STDOUT`). Could you please update `AliTV-perl-interface` and try again like this:

[code]

My problem currently is that I can not replicate t

[2017-12-12 15:26] iimog opened #150 "Running alitv.pl twice with overwrite results in an error"
When I run `alitv.pl test.yml --overwrite` repeatedly it works twice and then fails. The reason is that the first time the `test.map` file does not exist so no need to overwrite at all. The second time a `test.map` file exists and is backuped to `test.map.bak` and then overwritten. In all consecutive runs both the `test.map` and `test.map.bak` files exist and AliTV refuses to overwrite `test.map.b

[2018-01-10 09:10] maedat commented on #149
I also got the same error.

In my case, I had forgotten to do

``
cpanm --installdeps .
``

on "/AliTV/AliTV-perl-interface" (lol).

After that, my alitv.pl is working well.

[2018-01-10 09:16] iimog commented on #149
Thanks @maedat for reporting. @mictadlo can you please try if this fixes it for you as well?

[2018-01-25 15:22] iimog opened #151 "Add `--no-self` option"
`alitv.pl` by default calculates all-vs-all genome alignments this includes a comparison of each genome against itself. This information is currently not visualized in the AliTV frontend. It might be useful to do this in the future but right now this behavior just increases calculation times and the size of the output file without any benefit. Therefore I'd suggest disabling self alignments by def

[2018-03-14 08:57] iimog opened #152 "Support lastz Sequence Specifiers"
It is possible to provide lastz sequence specifiers: http://www.bx.psu.edu/miller_lab/dist/README.lastz-1.02.00/README.lastz-1.02.00a.html#seq_spec
Those are added to the filename in square brackets. A real world use case is to specify `unmask` to allow for lowercase letters in the fasta files. Otherwise those are treated as masked and ignored in the seeding stage. So fasta files with only lowerca

[2018-03-14 16:33] iimog opened #153 "Add lastz binary"
It is a little inconvenient that users installing `AliTV` as stated in the documentation with:
[code]
still need to install `lastz` separately. It might not even be obvious that `--installdeps` does not include `lastz`.
The best solution would be to include a binary of `lastz` that is used if it is not found in the `PATH`.
This should not be a problem as `lastz` is under MIT license now as well ht

[2018-03-14 16:47] iimog commented on #152
If you want to change all nucleotides in all `.fa` files in a folder to uppercase you can use this command. Warning: this will change the files in place so only do this if the case does not carry information (e.g. masking) or do it on copies.
[code]

[2018-06-07 14:25] iimog opened #155 "Different rounding of identity in links and filters"
This error is a little subtle and I stumbled across it by chance. When you run alitv.pl on the two sequences in [this gist](https://gist.github.com/iimog/5267a9046925a7e2834b96a2c61d8674) like this:
[code]
you end up with the json file also in the gist. When you visualize this file in the AliTV web interface you do not see any alignment despite the two sequences being almost identical.

Upon close

[2018-06-07 14:57] greatfireball commented on #155
100% agree, and the problem is the same or at least similar for `filters.links.minLinkIdentity`

My suggested solution would be:
1) trunc to percent for `filters.links.minLinkIdentity`
2) trunc to percent for `filters.links.maxLinkIdentity+1` or set it to 100

This would lead to integer values for both values which include the true values within their range.

Any comments @iimog

[2018-06-07 15:10] iimog commented on #155
Sounds like a good and practical solution.

[2018-06-07 15:11] greatfireball commented on #155
I will prepare a solution tonight.

[2018-06-08 06:42] #152 closed

[2018-06-08 10:46] #155 closed

[2018-11-17 04:30] iimog opened #160 "Add option to just create yml"
I often find myself using `AliTV` in quick mode (providing a list of fasta files to `alitv.pl` instead of a `.yml` file) just to let `AliTV` create the proper `.yml` file. Then cancel, adjust the `.yml` and run `alitv.pl` again with this modified `.yml`. While this works just fine it is a bit of a hack and might be worth considering as a feautre. The idea is a `--create_yml` or `--yml_only` parame

[2018-11-20 22:36] iimog opened #161 "Default lastz parameter --ambiguous=iupac"
AliTV when started with just fasta files uses a couple of default parameters for lastz:
[code]
They all make sense in multiple scenarios and might be better suited then `lastz` defaults for many cases the last one in particular `--ambiguous=iupac` has an interesting side effect:
Aligning a scaffold (with huge N stretches >10kbp) to a reference sequence creates alignments spanning those gaps but th

[2018-11-20 22:49] iimog opened #162 "Add default lastz option --allocat:traceback=800M"
Aligning closely related bacterial genomes I observed frequent messages like this:
[code]

I did at first not realize that this little message (that might well be hidden in a long stream of output) meant that completely homologous regions end up unaligned (because as the message states, the alignment is truncated...).

We could consider summarizing those messages in the AliTV output more prominent

[2018-11-20 22:50] iimog commented on #161
https://lastz.github.io/lastz/#option_iupac

[2018-11-22 00:24] iimog commented on #162
Worth noting: this option has been renamed to its current version in
1.03.00 | Jul/14/2011
So in older versions it was just `--traceback=<bytes>` which is still available for backwards compatibility. Using the new version of this option leads to this error from lastz:
[code]
In those older versions lastz just reports truncations but does not provide any hint on the solution.

[2019-04-04 13:37] #149 closed

[2019-04-04 13:41] iimog commented on #150
@greatfireball if you agree I suggest removing the `.bak` file creation step completely. So simple behavior:
 - If the output file exists and `--overwrite` is not given: fail and do not overwrite
 - If the output file exists and `--overwrite` is given: just overwrite it and continue

I'm happy to provide a pr for that.

[2019-04-04 13:41] iimog commented on #144
Is this issue solved?

[2019-04-04 13:43] #90 closed

[2019-04-04 13:45] iimog commented on #63
Are these tests still missing? Is the `bug` label justified?

[2019-04-04 13:48] iimog commented on #48
I'm fine with failing these tests regardless. I agree that it does not indicate a wrong behavior of the software. But it quickly shows the user that an essential part of our tool is not working in the setup. @greatfireball if you agree you may close this issue for now.

[2019-04-04 13:49] iimog commented on #47
Nice to have but not really important. I vote close.

[2019-04-04 13:55] iimog commented on #30
If this is only to reach 100% test coverage I vote close. In my opinion reaching 100% test coverage as an end in itself is not a goal worth pursuing.

[2019-04-04 14:40] iimog opened #163 "Add CITATION.cff"
A dedicated CITATION.cff file that is both human and machine readable would be useful to unambiguously communicate how we want this software to be cited when used.
See: https://citation-file-format.github.io/
Check: http://citeas.org/
Can be similar to the one just added in the develop branch of the [AliTV repository](https://github.com/AliTVTeam/AliTV).

[2019-07-31 16:31] Bio1nform commented on #161
Hi,
I am new to AliTv. The interface looks great. I wanted to work with alitv with some genome comparison. However i am getting some error.

AliTV/AliTV-perl-interface-master/bin/../lib/AliTV/Base.pm 123 Unable to load alignment module 'AliTV::Alignment::lastz' at /home/Whole_genome_analysis/AliTV/AliTV-perl-interface-master/bin/../lib/AliTV/Script.pm line 123.

The .json file is empty.
The .yml f

[2019-08-01 12:06] iimog commented on #161
Hi @Bio1nform, the created `yml` file looks good to me. The error message is strange as both the `Base.pm` and `Script.pm` modules are found I don't see why `AliTV` does not find the `AliTV::Alignment::lastz` module.
Any idea from your side @greatfireball?

[2019-08-02 16:10] Bio1nform commented on #161
Hi iimog, thanks for the quick reply. since the .json file is empty i am stuck right there. Any one has any solution for this.

[2019-08-03 13:34] iimog commented on #161
Hey, unfortunately it is hard to tell what goes wrong exactly from this error message. As installation depends heavily on the exact environment I wonder if a docker container would help you? If you are able to run docker containers on your system I could prepare an image that has `AliTV-perl` with all dependencies pre-installed. If this is not a solution we have to dig deeper into your current iss

[2019-08-03 13:35] iimog opened #164 "Unable to load alignment module 'AliTV::Alignment::lastz'"
Hi,
I am new to AliTv. The interface looks great. I wanted to work with alitv with some genome comparison. However i am getting some error.

AliTV/AliTV-perl-interface-master/bin/../lib/AliTV/Base.pm 123 Unable to load alignment module 'AliTV::Alignment::lastz' at /home/Whole_genome_analysis/AliTV/AliTV-perl-interface-master/bin/../lib/AliTV/Script.pm line 123.

The .json file is empty.
The .yml f

[2019-08-03 13:36] iimog commented on #164
https://github.com/AliTVTeam/AliTV-perl-interface/issues/161#issuecomment-517925158

[2019-08-30 11:29] iimog commented on #164
I created a docker container now, you can try it for your dataset with:
[code]

[2020-01-14 07:40] 444thLiao opened #165 "reduce the number of alignment"
If the tree file is provided, the pairwise alignment should be reductant?

I think reducing the number of alignment with given tree file is better.

[2020-01-14 09:27] iimog commented on #165
Hi @444thLiao,

 thanks for reporting this issue. I'm not sure if I fully understand your question so here is a quick overview of how the tree file is handled in AliTV:
The tree when passed to `alitv.pl` is converted into a `json` structure suitable for visualization with the AliTV web interface. It is not used to filter or sort the genomes. When genomes are not ordered concordant with the tree it

[2020-01-14 09:42] 444thLiao commented on #165
Thank you for your quick reply @iimog ,

Here are my understanding and supplemental suggestions.
For my point of view, the tree provided is majorly used to **sort** these genomes with user-defined distance or phylogenetic relationship. So for the first question, I think it would be nice to do the modification under perl stage.

There are several reasons:
for me, I have 140+ genomes need to do the

[2020-01-15 07:22] iimog commented on #165
Thanks for the clarification. I think what you are suggesting are very valuable features. Especially for a case like yours with such a large amount of genomes. @greatfireball do you think you could easily implement this in the perl part?
One complication is that the tree does not yield a unique order of genomes. One practical solution for that problem could be to use rooted trees, bring them in la

[2020-10-27 17:41] iimog commented on #35
I think this is quite nicely implemented for gff/gb files. However, it becomes tedious if you have lot's of different features. In my case I have 10 different gene classes in a gff file for three different genomes. I have to basically repeat the same section over and over again like this:
[code]
It would be nice to have an option to just provide the gff and have all features in the class given in

[2020-11-16 01:44] #165 closed

[2020-12-02 11:03] AllisonStander commented on #164
Good day,

I am having the same issue:

[code]
I am unsure how to use the docker container to fix this issue? I am not familiar with docker.

Regards,
Allison

[2020-12-02 13:10] iimog commented on #164
Hi Allison,
we still don't know what causes this error for some users. We can try to finally identify the root of this issue. As this might take some time, and probably some trial and error here is how you can use docker to run AliTV:
[code]
This assumes that `my_file.yml` is your yml file and is located in the folder you are running `docker` in. All files mentioned in there (e.g. fasta and featur

[2020-12-03 06:59] AllisonStander commented on #164
Hi Markus,

So I created the yml file using
[code]

The output yml file is:

[code]

The file and folder
/home/allison/Documents/00_Internship/00_Chloroplast/00_GetOrganelle/Rooibos_Chloroplast_repeatpattern1.fasta does exist, and contains no typos.

Any idea how I can fix this?

[2020-12-03 07:02] iimog commented on #164
Yes, the problem is with the absolute paths. When using `docker` you don't see the same filesystem inside the container as you have outside. The `-v $PWD:/data` part of the command mounts your current working directory to the `/data` directory inside the container (this is the default working directory inside the container). So if you use relative paths (relative to the working directory you run d

[2020-12-03 07:54] AllisonStander commented on #164
Thank you so much for the help! I got it working!

[2020-12-03 08:24] greatfireball commented on #164
Thanks for your help @iimog

[2021-02-17 23:14] efogarty11 opened #166 "can't download AliTV onto mac"
Hello! I'm really excited to use your software- it looks like the best visualization method that I can find for looking at genome alignments!

Unfortunately, I'm struggling to be able to download it onto my mac.

I downloaded bioperl, cpanm and lastz with conda, then ran the installation instructions:
[code]

The cpanm command ran for ~5 minutes, and seemed like it finished but produced some error

[2021-02-18 07:05] iimog commented on #166
Hi! Great that you want to use `AliTV`. I don't have a lot of experience on Mac but my first guess would be that `libxml2` is missing. Can you try installing it like this (if you use homebrew):
[code]
After that retry the `cpanm` step. Let me know if it works or if you still get an error message. Unfortunately I can not easily test myself because I don't have a Mac at hand. Anyway I'm convinced th

[2021-02-18 14:50] efogarty11 commented on #166
Hi @iimog thank you so much for the quick reply! I really appreciate your help with this :)

I ran
[code]

and was prompted by that command to run:
[code]
Which I did.

I then reran
[code]
which told me:
[code]
I ran the export commands, and then tried to rerun
[code]

I'm unfortunately still getting these errors (sorry that it's long, I thought it might be better if you could see the entire thing

[2021-02-19 07:55] iimog commented on #166
Thanks for trying this and for the detailed log. Is the file `/Users/efogarty/.cpanm/work/1613659757.9262/build.log` still present? That might contain even more detailed information about the problem. Would be nice if you could share it. Additionally, I'll try to get hold of a Mac this afternoon to try it there myself.

[2021-02-19 13:58] efogarty11 commented on #166
[build.log](https://github.com/AliTVTeam/AliTV-perl-interface/files/6010424/build.log)

I uploaded the entire file because it's quite long. Thank you!

[2021-02-20 11:54] iimog commented on #166
Thanks! I managed to try it on a Mac myself. I failed as well. I need to dig a little deeper. There are some indications that mixing `perl` from `conda` with modules from `cpan` causes problems sometimes. So I'll try with `perlbrew` instead. In the meantime: if `docker` is an option for you, this:
[code]
should work. Instead of `--help` you can provide the parameters you would use with `alitv.pl`.

[2021-03-17 22:31] 0xaf1f opened #167 "unable to identify sequence in sequence set by name"
I'm trying to run `alitv.pl` with an existing maf alignment file and I'm getting an error about a sequence that isn't found that is definitely there.

[code]

Also, I replaced all occurrences of the hyphen in the original sequence name (4-0010) with an underscore, but it'd be nice to not have to do that.

[2021-03-19 08:14] iimog commented on #167
Hmm, I can't tell what's going wrong there. Can you provide a minimal example of a maf file and the exact call to `alitv.pl` so I can reproduce and debug it?

I agree that it would be more convenient if manually replacing characters in IDs would not be necessary. Maybe @greatfireball has an idea how to fix that?

[2021-03-22 19:03] 0xaf1f commented on #167
Well, so I'm running using a single maf file representing a multiple sequence alignment for about 100 samples. Each sample has a tsv feature file. I was looking into your test data directory to see if I could modify one of your existing test cases to look like mine, but I didn't find a maf file and tsv feature file that could be used together.

My yaml file looks like

[code]

where each fasta fil

[2021-03-25 07:08] iimog commented on #167
Ok, after looking some more into this, I think our support for importing pre-calculated alignments is really rudimentary. The ids you use might get replaced even if all characters are letters, digits and underscores. This can happen e.g. if they are too long (more than 8 characters long). When you run your command there should be a file called `tb.map`. When you look into that, are IDs being renam

[2021-03-25 07:38] 0xaf1f commented on #167
I do actually get this in the logging output:

[code]
but none of the names listed there (they're only about 8) are the one that it claims to be unable to find when it crashes afterwards.

And...looking at the .map file, yes, it looks like *everything* was renamed:

[code]

[2021-03-25 08:28] 0xaf1f commented on #167
Ok, replacing the names in the maf file gets me past the error, but I encounter other ones later:

[code]

[2021-03-25 10:01] iimog commented on #167
Okay, getting closer. The most likely cause of this issue is that there are sequences in the maf file that are not in the fasta files. However, the error message does not help us much. So I created a new branch: [improve-maf-import](https://github.com/AliTVTeam/AliTV-perl-interface/tree/improve-maf-import). This currently only makes the last error message more meaningful by printing the failing se

[2021-03-29 19:30] 0xaf1f commented on #167
Looks like all of them:

[code]

presumably I need to change the names in the yaml file too?

[2021-03-29 19:32] 0xaf1f commented on #167
Looks like all of them:

[code]

Presumably I need to change the names in the yaml file, too.

[2021-03-29 20:10] 0xaf1f commented on #167
So now I've changed the names in the yaml file, the sequence fasta headers, and the features.tsv file and I'm still seeing this error, so maybe that doesn't have to do with the names after all? The only place where the original names persist is in the sequence file name, but I doubt that matters.

For features on the minus strand, is it a problem if the start position is greater than the stop posi

[2021-03-30 07:36] iimog commented on #167
I did not expect such a long list of sequences. I know MAF supports multiple alignments which are broken down into pairwise alignments by AliTV: #33
For me it looks like something is going wrong there, rather than an issue with naming the sequences/features. @greatfireball I'm afraid I need your input here.

[2021-03-30 07:43] greatfireball commented on #167
Thank you very much for your efforts @iimog

I will try to follow your discussion here today and answer asap.

Maybe we have a restriction to start features with a letter instead of only digits as suggested by @0xaf1f ? Need to check this

[2021-03-30 21:52] 0xaf1f commented on #167
I prepended `f` to all feature names and tried again with no difference in the outcome. I also tried swapping start and stop positions where start>stop (features on minus strand) and that didn't help either.

These warnings:
[code]

look to be due to the fact that my maf file doesn't have scores for the alignments. But looking at the [format specification](http://genome.ucsc.edu/FAQ/FAQformat.html

[2021-05-03 07:13] #164 closed

[2021-05-07 08:10] iimog commented on #167
I just pushed a change to the branch https://github.com/AliTVTeam/AliTV-perl-interface/tree/improve-maf-import where you can call `alitv.pl --keepids [...]` which will prevent the mapping of fasta IDs to unique names. Unfortunately, this will not solve the score problem yet. I'll have to dig deeper and probably need help from @greatfireball.
Note: not renaming IDs might be problematic if you have

[2021-05-07 08:15] iimog opened #168 "Buggy BioPerl warning too verbose"
The check for the Bioperl revcom issue is very useful but the logging is far too verbose. When I run AliTV I get one of these messages (depending on the machine):
[code]
or
[code]
repeated many many times, poluting the output. This message printed once (and not once per maf import) would be sufficient as the BioPerl version does not change during a run.

[2021-05-07 08:15] iimog commented on #168
It also tends to confuse users e.g. https://github.com/AliTVTeam/AliTV/issues/163

[2021-05-07 08:31] greatfireball commented on #168
I totally agree! Will have a look on the issue on the weekend.

[2021-05-26 18:54] ambenj opened #169 "Order of link display"
Hello! Is it possible to change the order in which the links display? I'm using AliTV to look at a region containing gene duplications and it seems that the links on top are the ones with earlier coordinates. However for my region these earlier coordinate links also have lower identity and makes it hard to see the ones with higher identity (even after playing around with filtering and opacity). Is

[2021-05-27 06:32] iimog commented on #169
This is an excellent question. Links being hidden by other links is a problem we faced in the past as well. Currently, AliTV draws the links in the order they appear in the json (which is the order given by the alignment program) and in svg this order is used implicitly:
https://www.w3.org/TR/SVG11/render.html#RenderingOrder

I will have a look into ordering by identity (or length, or both) in the

[2021-05-27 14:22] iimog commented on #169
I added a checkbox "draw links ordered by identity" to the web interface under "Layout Settings > Change parameters for links". When you check that box and click "Apply", links will be drawn ordered by identity (so links with higher identity will be drawn above links with lower identity). As this might not always be the desired behavior I decided to add it as an option. Let me know if that resolve

[2021-09-15 00:38] Brunox13 commented on #152
Oh wow. I just spent a few hours trying to figure out why my JSON file was always successfully created but showing nothing in the online visualization tool. I am creating my JSON file using the "simple" method where I provide the FASTA files directly, which is why I never read the [Description of the YML file format](Description of the YML file format) section, which contains the following CRUCIAL

[2021-09-16 11:55] iimog commented on #152
Hi @Brunox13,
thanks for letting us know about your struggles with this particular problem. I'm not happy with this default behavior of `lastz` and I agree that this important piece of information is somewhat hidden in the documentation. I'll put a prominent disclaimer into the main README file.

[2022-04-25 03:15] tlkane opened #170 "Unable to find lastz"
I'm trying to use AliTV for the first time and I keep getting the same error:

FATAL - Unable to find lastz at /Users/taylorkane/Desktop/newfile.nosync/AliTV-perl-interface/bin/../lib/AliTV.pm line 99.

lastz is in the same directory as alitv.pl, and I tried un- and reinstalling it, but I still getting the same issue. Any help is appreciated!

[2022-04-25 05:44] iimog commented on #170
AliTV tries to find `lastz` in your `PATH`. So if you can call `lastz` directly on the command line, it should be found by AliTV, as well. You can add the folder containing `lastz` to the `PATH` temporarily, like this:

[code]

Then run `alitv.pl` in the same terminal window. This change of `PATH` is only valid for the terminal you run it in and will be lost when you close and open it again.

[2022-07-09 08:00] wh960823 opened #171 "Demo annotation occurred in my own json file."
Hi, I am interested in your work on genome comparison visulization. However, when I creat my own json file using my own data and annotation tsv. file, the ndh, invert repeat annoatations in demo occurred instead of my annotations. Could you please guide me to solve this problem ?
Sincerely,
Hao

[2022-07-09 11:40] iimog commented on #171
Hi Hao,
I think this is related to https://github.com/AliTVTeam/AliTV/issues/123. My guess is, that your json is just fine, containing none of the demo features and only the annotation you provided. The problem is, that the web interface does not by default change the visibility of features when you load a new json file. You should be able to click on "Show/Hide Annotations" (see screenshot below)

[2022-07-09 11:40] iimog commented on #171
![image](https://user-images.githubusercontent.com/7403236/178104064-190b477e-111f-4d6b-861d-109a2e13c592.png)

[2022-07-09 12:41] wh960823 commented on #171
Thanks for your reply! I tried to show annotations in the web interface, but no list of my annotations in the list. Please see the yaml file attached below.

command: `alitv.pl --project test /home/bioinfo/Crabs/hcl/test_AliTV/a.yaml --overwrite`

a.yaml
[code]

[2022-07-09 13:51] iimog commented on #171
This looks good. If all files are in the correct format and sequence IDs in the fasta and tsv files match, the nif features should end up in the json file. Is it possilble to share the output json file for debugging (you can use dummy or public sequences if your data is confidential)?

[2022-07-09 14:40] bio-tombow commented on #171
Here is the files, the Github not allowed uploading json, tsv files, so I add virtual txt extension to files, please check the files. Thanks you so much for helping me debugg.
[nif.tsv.txt](https://github.com/AliTVTeam/AliTV-perl-interface/files/9077342/nif.tsv.txt)
[test.json.txt](https://github.com/AliTVTeam/AliTV-perl-interface/files/9077343/test.json.txt)
[Bradyrhizobium_daqingense_CCBAU15774.

[2022-07-10 10:13] iimog commented on #171
It looks like your tsv file has an additional first column with just `nif` in it. According to [the documentation](https://github.com/AliTVTeam/AliTV-perl-interface/blob/master/doc/alitv.md#section-genomes):

Therefore, AliTV tries to find sequences with id `nif`, which don't exist and are silently ignored (by design). All other columns would be shifted by one as well.

Please remove the first col

[2022-07-11 07:07] wh960823 commented on #171
Thanks so much ! The annotation was successfully added.

[2022-07-11 11:27] iimog commented on #171
Awesome! :tada:

[2022-07-11 11:27] #171 closed

[2022-08-26 12:01] iimog commented on #170
I assume, that solved your issue. Feel free to re-open, if it didn't.

[2022-08-26 12:01] #170 closed